/* Primary Colors */
/* Gradient Colors */
/* Neutral colors */
/* Divider */
/* Font weight */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* class for visually hide anything and keep it accessible */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(hsl(273deg, 75%, 66%)), to(hsl(240deg, 73%, 65%)));
  background: -o-linear-gradient(top, hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
  background: linear-gradient(to bottom, hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
  background-repeat: no-repeat;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.75rem;
  min-height: 100vh;
  padding: 9rem 1.5rem 3rem;
}

main {
  display: grid;
  place-items: center;
}

.accordion {
  background-color: #fff;
  border-radius: 1.25rem;
  width: 100%;
  max-width: 25rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  font-weight: 400;
}

.accordion__inner-container {
  padding: 8.4375rem 1.4375rem 3.125rem;
  border-radius: 1.25rem;
  position: relative;
}

.accordion__inner-container::before {
  content: "";
  position: absolute;
  top: -6.625rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-image: url(../images/illustration-woman-online-mobile.svg), url(../images/bg-pattern-mobile.svg);
  background-position: center top, center 6.5rem;
  background-repeat: no-repeat;
  width: 15rem;
  height: 13.375rem;
  z-index: 3;
}

/* Accordion Styles  */
.accordion__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accordion__title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.9375rem;
  font-weight: 700;
}

.accordion__element-box {
  width: 100%;
}

.accordion__summary {
  font-size: 0.875rem;
  width: 100%;
  border-bottom: 1px solid hsl(240deg, 5%, 91%);
}

.btn:focus,
.btn:focus-visible {
  outline: 0.25em dashed hsl(14deg, 88%, 65%);
}

.btn {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  font-family: inherit;
  color: hsl(237deg, 42%, 24%);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  color: hsl(14deg, 88%, 65%);
}
.btn:focus, .btn:focus-visible {
  font-weight: var(--fw-700);
}

.arrow {
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}
.arrow.rotate {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5;
  color: hsl(240deg, 6%, 50%);
  opacity: 0;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.4s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: height 0.4s ease-in-out, opacity 0.2s ease-in-out;
  transition: height 0.4s ease-in-out, opacity 0.2s ease-in-out;
}
.answer-appear {
  opacity: 1;
  overflow: visible;
  height: 3.75rem;
}

.attribution {
  font-weight: 700;
  text-align: center;
  font-size: 0.875rem;
  color: rgb(20, 15, 24);
  margin: 1rem;
}

.link {
  color: rgba(16, 16, 233, 0.788);
  text-decoration: none;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.link:hover {
  color: rgb(16, 16, 233);
}

.link:focus, .link:focus-visible {
  outline: 0.3em dashed hsl(14deg, 88%, 65%);
}

/* Media query for screens larger than 1000px */
@media screen and (min-width: 1000px) {
  body {
    padding: 8rem 1.5rem;
  }
  .accordion {
    max-width: 57.5rem;
  }
  .accordion::before {
    content: "";
    position: absolute;
    top: 300px;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url(../images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    width: 11.9375rem;
    height: 11.9375rem;
    z-index: 4;
  }
  .accordion__inner-container {
    padding: 4rem 5rem 4.6875rem 30.625rem;
    position: relative;
    overflow: hidden;
  }
  .accordion__inner-container::before {
    top: -4.625rem;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    background-image: url(../images/illustration-woman-online-desktop.svg);
    background-position: left bottom;
    width: 33.375rem;
    height: 31.25rem;
    z-index: 3;
  }
  .accordion__inner-container::after {
    content: "";
    position: absolute;
    top: -270px;
    left: 0;
    background-repeat: no-repeat;
    width: 24.875rem;
    height: 59.0625rem;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background-image: url(../images/bg-pattern-desktop.svg);
  }
  .accordion__content {
    max-width: 21.875rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .accordion__title {
    text-align: left;
  }
}

